/* Global reset and tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Small width for the scrollbar */
  height: 8px; /* For horizontal scrolling if needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #134aa3; /* Blue color for the scrollbar thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Light gray background */
}

/* Make the scrollbar smaller on mobile and tablet */
@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Slightly smaller on mobile/tablet */
    height: 6px;
  }
}

/* Optional: Add styles to make sure the scroll bar is centered */
.custom-scrollbar {
  scrollbar-width: thin; /* Use thin scrollbar for Firefox */
  scrollbar-color: #134aa3 #e5e7eb; /* Firefox custom scrollbar colors */
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
/* For hiding the scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none; /* for Firefox */
}
.slick-next:before {
  content: "" !important;
}
.slick-prev:before {
  content: "" !important;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
/* styles/globals.css */

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/static/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
